.main {
    background: linear-gradient(160deg, rgba(120,209,218,0.4907212885154062) 0%, rgba(186,28,161,0.2358193277310925) 57%);
    min-height: 80vh;
    justify-content: space-between;  
    align-items: center;  
    padding: 2vw; 
    width: 100%;
}

.hero {
    display: flex;
    width: 100%;
}

.left {
    flex: 1;
    margin-right: 2vw;  
    padding-left: 100px;
    padding-top: 5vh;
    color: #205569; 
    font-size: 3vh;
}

.paragraph {
    padding-top: 2vh;
    font-size: 3vh;
}

.right {
    flex: 1;
    max-width: 100%;  
    display: flex;
    justify-content: flex-end; 
    margin-right: 5vw; 
}

.right img {
    max-width: 100%; 
    height: auto; 
}

.contact-n-btn {
    margin-top: 6vh;
    background: transparent;
    background: rgb(63, 94, 251);
}
.heading{

  
}
.contact-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid transparent;
    background-image: linear-gradient(to right, #e254ff, #57d3ff);  
    background-color: white;
    color: rgba(0, 0, 0, 0.374); 
    border: 2px solid #e254ff;
    color: white;
    text-decoration: none; 
    font-size: 16px;
    transition: all 0.3s ease;
    margin-top: 80px;
}

.contact-button:hover {
    color: white;
    background: rgba(11, 11, 170, 0.662);
}

.contact-button::after {
    content: "➔";  
    text-decoration: none; 
    padding-left: 5px;
}

@media (max-width: 750px) {
    .hero {
        flex-direction: column; 
        align-items: center; 
        width: 100;
    }

    .left {
        padding-left: 0;
        text-align: center; 
        margin-right: 0;
        padding-top: 2vh;
        font-size: 2.5vh; 
    }

    .paragraph {
        padding-top: 1vh;
        font-size: 2.5vh; 
        text-align: center; 
    }

    .right {
        margin-right: 0;
        justify-content: center; 
    }

    .contact-button {
        margin-top: 20px; 
        font-size: 14px; 
        padding: 8px 16px; 
    }
}
