/* Navbar.css */
.main-navbar {
  height: 95px;
  width: 100vw;
  background: linear-gradient(54deg, rgba(194, 228, 236, 0.134) 0%, rgba(254, 254, 254, 0.146) 100%);
  display: flex;
  align-items: center;   
  padding: 0 20px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  z-index: 9;  
  background: white;
}

html {
  overflow-x: hidden;
}

.logo img {
  height: 50px;
}

.nav-content {
  display: flex;
  justify-content: space-between;  
  align-items: center;      
  flex-grow: 1;             
}

.links {
  display: flex;  /* Always display on larger screens */
  gap: 20px;
  justify-content: center;  
  flex-grow: 1; 
  transition: all 0.3s ease; /* Add a transition for smooth effect */
}

.links a {
  text-decoration: none;
  color: #454545;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 1rem;
}

.links a:hover {
  color: #000000;
}

.call-now {
  padding: 5px 13px;
  background: rgb(144, 7, 150);
  background: linear-gradient(90deg, rgba(144, 7, 150, 0.8464635854341737) 0%, rgba(0, 212, 255, 1) 100%);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 130px;
}

.call-now:hover {
  background: linear-gradient(to right, #31b9f3, #6d47ed);
}

.hamburger {
  display: none;  
  cursor: pointer;
}

@media (max-width: 768px) {
  .links {
    display: none;  
    flex-direction: column;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 10;
  }

  .links.active {
    display: flex;  
  }

  .hamburger {
    display: block; 
    padding-left: 20px;
    font-size: 24px;
    color: #454545;
    margin-left: auto; 
  }
}
