.nav-in-portfolio {
    margin-top: 3vh;
}

.heading {
    font-size: 7vh;
    margin-top: 30px;
    color: rgb(106, 106, 106);
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}

.cards-in-portfolio {
    padding: 20px;
    text-align: center;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.filter-link {
    margin: 0 10px;
 
    text-decoration: none;  
}

.filter-button {
    color: #6A6A6A;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 

@media (max-width: 768px) {
    .heading {
        font-size: 5vh;
    }

    .filter-button {
        padding: 8px 15px;
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 4vh;
    }
}
