.main-portfolio-section {
    background: linear-gradient(54deg, rgba(17,19,178,0.16) 0%, rgba(249,18,221,0.15) 100%);
    padding-top: 30px;
}

.portfolio-content {
    min-height: 90vh;
}

.portfolio-heading {
    text-align: center;
    margin-top: 60px;
    color: #5D5D5D;
    font-weight: 900;
    font-size: 120px;
}

.portfolio-filters {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.portfolio-filter-item {
    font-size: 24px;
    color: #5D5D5D; /* Updated color */
    margin: 0 25px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}

.portfolio-filter-item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    background: linear-gradient(to right, #007bff, #ff6347);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.portfolio-filter-item:hover::after, 
.portfolio-filter-item.active::after {
    transform: scaleX(1);
    transform-origin: left;
}

.portfolio-filter-item:hover {
    color: #030000;
}

.portfolio-filter-item.active {
    color: #007bff;
}

@media (max-width: 768px) {
    .portfolio-heading {
        font-size: 5vh;
    }

    .portfolio-filter-item {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .portfolio-heading {
        font-size: 4vh;
    }

    .portfolio-filter-item {
        font-size: 18px;
    }
}
